* {
    box-sizing: border-box;
}
:root {
    --fontBlack: #6E6E6E;
    --buttonColor: #91B0B8;
    --buttonColorHover: #66878f;
}
.project-card-wrapper {
    // border: 2px solid aquamarine;

}
.project-card-container {
    // border: 2px solid red;
    // background-color: var(--fontBlack);
    // background: linear-gradient(to top, var(--fontBlack), white);
    border: 1px solid var(--fontBlack);
    height: 550px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 40px 20px;
    border-radius: 5px;
    line-height: 25px;
    // filter: drop-shadow(5px 4px 4px black);

    .project-card {
        // border: 2px solid aquamarine;
        width: 350px;
        height: 500px;
        padding: 0 20px 0 20px;
        color: rgb(104, 104, 104);

        & h3 {
            // color: red;
            color: rgb(76, 76, 76);
            margin: 0 0 20px 0;
            padding-top: 20px;
            border-top: 1px solid rgb(202, 202, 202);
        }
    }

    .project-card-icon {
        // border: 2px solid red;
        filter: drop-shadow(5px 4px 4px rgb(116, 115, 115));
        opacity: (.8);
        margin: 20px 0 20px 0;
        
        & :hover {
            transition: all 1.3s ease 0s;
            transform: scale(1.2) rotate(360deg);
            // border: 2px solid red;   
        }
    }

    .project-card-button-container {
        // border: 2px solid red;
        margin: 20px auto; 
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .project-card-button-container {
        border: 2px solid red;
        width: 200px;
        display: flex;
        justify-content: space-between;

        .project-card-buttons {
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            border-radius: 4px;
            background-color: var(--buttonColor);
            background-color: var(--buttonColorHover);
            // text-decoration: none;
        }
        .project-card-buttons a {
            // border: 2px solid hotpink;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            border-radius: 4px;
            color: white;
            transition: all 0.2s 0s;
        }
        & :hover {
            cursor: pointer;
            background-color: var(--buttonColorHover); 
            background-color: var(--buttonColor); 
            font-size: 1.08em;
        }
    }   
}

.project-card-main-collection {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}