* {
    box-sizing: border-box;
}
:root {
    --fontBlack: #6E6E6E;
    --buttonColor: #91B0B8;
    --buttonColorHover: #66878f;
}
.project-card-wrapper {
    border: 2px solid aquamarine;

}
.project-card-container {
    border: 2px solid red;
    width: 30%;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-card {
        // border: 2px solid aquamarine;
        width: 350px;
        height: 500px;
    }

    .project-card-icon {
        // border: 2px solid red;
        margin: 0 0 20px 0;
    }

    .project-card-title h3 { 
        margin: 0 0 20px 0;
        color: var(--fontBlack);
        font-size: 1.5em;
    }

    .project-card-text p {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 1.1em;
        line-height: 30px;
        padding: 20px;
    }

    .project-card-button-container {
        // border: 2px solid red;
        margin: 20px auto; 
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .project-card-button-container {
        // border: 2px solid red;
        width: 200px;
        display: flex;
        justify-content: space-between;


        .project-card-buttons {
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            border-radius: 4px;
            background-color: var(--buttonColor);
            // text-decoration: none;
        }
        .project-card-buttons a {
            // border: 2px solid hotpink;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            border-radius: 4px;
            color: white;
            transition: all 0.2s ease 0s;
        }
        & :hover {
            cursor: pointer;
            background-color: var(--buttonColorHover); 
            font-size: 1.08em;
        }
    }

   
    
}


footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 500ms;
  }
  footer a:hover{
    color: #FFF8D9;
    font-size: 1.1em;
    font-size-adjust: 20px;
  }